<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Controle de Vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="animated bounceInUp">
    <ion-item *ngIf="tasks.length < 1">
      <ion-label>Não há tarefas</ion-label>
    </ion-item>

    <ion-item-sliding *ngFor= "let task of tasks; index as i">
      <ion-item (click)="openActions(task, i)">
        <ion-label *ngIf="!task.done" >{{task.name}}</ion-label>
        <ion-label *ngIf="task.done" ><del>{{task.name}}</del></ion-label>
        <ion-icon slot="start" name="radio-button-off" *ngIf="!task.done"></ion-icon>
        <ion-icon slot="start" name="checkmark-circle" color="success" *ngIf="task.done"></ion-icon>

      </ion-item>
      <ion-item-options side="start">
        <ion-item-option (click)="delete(task)" color="danger"><ion-icon name="trash" size="large"></ion-icon>Excluir</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="edit(task, i)" color="secondary"><ion-icon name="pencil" size="large"></ion-icon>Editar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showAdd()"color="secondary">
      <ion-icon name="add"></ion-icon>

    </ion-fab-button>

  </ion-fab>

</ion-content>
